# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]utput/
wwwroot/

*.nupkg
**/packages/*
**/Generated/*

#.vscode/
global.json
coverage.*

*.Generated.cs
*~

#Rider
**/.idea/*

#hugo
**/_gen/*